.hero{
height: 100vh;
display: grid;
grid-template-columns: 1fr;
gap: 1.8rem;
overflow: hidden;
margin-top: 50px;
align-items: center;
text-align: center;
background-color: var(--color-white);
}

.hero .hero-content{
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid
}


.hero .hero-content h1{
    color: var(--color-dark);
    font-size: 4rem;
    font-weight: 400;
}

.hero .hero-content p{
    font-size: 1.4rem;
    font-weight: 200;
}




@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.arrow-down {
    animation: bounce 3s ease-in-out infinite;
    margin-top: 4rem;
    font-size: 2.5rem;
    overflow: hidden;
}


@media screen and (max-width: 768px){
   .hero .hero-content h1{
        font-size: 2rem;
    }
  .hero .hero-content p{
    font-size: 1rem;
    font-weight: 300;
   }
    .arrow-down {
        margin-top: 3rem;
        font-size: 2rem;
    }
}