.about{
    height: 80vh;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 1.8rem; 
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items:center;
}

.about .profile-photo{
    width: 30vw;
    grid-row-start: 2;
    grid-column-start: 2;
    align-self:self-start;
}


.about .profile-photo img{
    width: 15vw;
    height: auto;
    filter: var(--filter-glow);
}


.about .about-me{
    grid-row-start: 1;
    grid-column: 1 / span 2;
}

.about .about-description{
    align-self:self-start;
}

.about .about-description p{
    grid-row-start: 2;
    padding: 0 1rem;
    text-align: left;
    text-justify: inter-word;
    float:right;
    font-size: 1.2rem;
    width: 80%;
}


@media screen and (max-width: 768px){
    .about{
        height: auto;
        grid-template-columns: 1fr;
        gap: 0;
        align-items:center;
        text-align: center;
        overflow: hidden;
        margin-bottom: 2rem;
    }

    .about .profile-photo{
        width: 50%;
        grid-column-start: 1;
        grid-row-start: 2;
        margin: 0 auto;
    }
    
    .about .profile-photo img{
        margin-right: 0rem;
        width: 100%;
        height: auto;
        border-radius: 10%;
    }
    
    .about .about-me{
        display: grid;
        padding: 0 var(--padding-2);
    }

    .about-me .section-title{
      margin-top: 1.8rem;
        grid-row-start: 1;
    }
    
    .about .about-me h2{
        font-size: 1.5rem;
       margin: 2rem 0;
    }

    .about  p{
        font-size: 1rem;
        padding: 1rem 1rem;
        text-align: left;
        text-justify: inter-word;
        float: none; 
}
}