.contact-wrapper{
    display: grid;
    height: 50vh;
    padding-top: 5vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--color-white);
    row-gap: 2rem;
    align-items: center;
    text-align: center;
}

.contact-content{
    font-size: 1.2rem;
    width: 50%;
    margin: auto;
}

.contact-button button{
    font-size: 1.3rem;
    border: 1px solid var(--color-info-dark);
    border-radius: 5px;
    padding: .5rem 2rem;
}

.contact-button button:hover{
    cursor: pointer;
}


@media screen and (max-width: 768px){
    .contact-content{
        font-size: 1rem;
        width: 90%;
    }

    .contact-button button{
        font-size: 1.1rem;
    }
}
