.navbar {
    display: grid;
    gap: 1.8rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color-white);
    z-index: 999;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;

    box-shadow: var(--box-shadow);
}


.navbar .logo h3 {
    font-size: 1.2rem;
    border: 1px solid var(--color-dark);
    padding: .3rem;
    border-radius: 5%;
    text-align: center;
}

.navbar>div a:hover {
    cursor: pointer;
}

.navbar .hamburger-menu {
    display: none;
}


.navbar .center-menu {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    text-align: center;
}

.navbar .right-menu {
    display: grid;
    gap: 1.8rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));

}


.navbar .right-menu .nav-item-4 {
    text-align: end;
}

.navbar .right-menu .nav-item-5 {
    text-align: start;
}

.navbar .right-menu .nav-item-6 {
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: auto auto;
    gap: 0.5rem;
}

.navbar .right-menu .nav-item-6 .dark-mode-wrapper {
    padding: 0rem .88rem;
    border-radius: 5px;
    white-space: nowrap;
}


.navbar .right-menu .nav-item-6 span:nth-child(1) {
    font-size: 1.6rem;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    background-color: var(--color-dark);
    color: var(--color-white);
}

.navbar .right-menu .nav-item-6 span:nth-child(2) {
    font-size: 1rem;
    margin-left: .2rem;
    padding: .5rem 0;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.navbar .nav-item-4 a,
.navbar .nav-item-5 a {
    border: 1px solid var(--color-info-dark);
    border-radius: 5px;
    padding: .5rem 1rem;
    display: inline-block;
    vertical-align: middle;
}

.navbar .active {
    color: var(--color-primary);
}


@media screen and (max-width: 768px) {
    .navbar {
        gap: .5rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        overflow: hidden;
        justify-items: stretch;
    }

    .nav-active {
        border-bottom: 0.5px solid var(--color-dark);
    }

    .navbar .logo {
        justify-self: start;
        margin-left: 1rem;

    }

    .navbar .mobile-right-menu {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 1fr auto;
        align-items: baseline;

    }


    .navbar .mobile-right-menu .dark-mode-wrapper {
        justify-self: right;
    }

    .navbar .hamburger-menu {
        grid-column-start: 2;
        display: block;
        justify-content: end;
        text-align: end;
        font-size: 1.6rem;
        color: var(--color-dark);
        margin-right: 1rem;
    }

    .navbar .nav-web {
        display: none;
    }

    .navbar .nav-item-5 {
        margin-right: 0;
    }

    .navbar .nav-mobile {
        display: grid;
        gap: 1.5rem;
        grid-column-start: 2;
        justify-content: end;
        text-align: end;
        margin-right: 1rem;
    }



    .navbar .active {
        margin-right: 1rem;
    }


}